### credentials.py needed for installation
### Example credentials.py:
#
# DISCORD = "DISCORD TOKEN @ https://discord.dev"
# POLSU = "POLSU API TOKEN @ https://polsu.xyz/api/apikey"
# HYPIXEL = "HYPIXEL API TOKEN @ https://developer.hypixel.net/dashboard"
#
credentials.py 


### Ignore these

.venv/
__pycache__/
swagger.json
test.py
layout.txt
# Hypixel API Tests
warog.json
zsheepie.json
zblatantv4.json
duels.json
duels2.json
duelstop.json